extends layout

block content
  h1 The company
  p.lead We are a professional services providers focused on making ideas real. We help organizations prepare for tomorrow by reimagining their businesses today.
  h4 Services we provide are, but not limited to
  hr
  .row
    .col-md-6
      h2 Finance & Accounting
      p Build a next-generation finance function and become a strategic business partner including accounts payable, Enterprise performace Management, F&A Multi-tower consulting, Invoice to cash etc.
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Travel Management System
      p We are the travel technology providers, providing travel booking engines for all the markets to achieve double booking segments within first year of relationship. We are providing the complete online travel solutions to various travel communities
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Infrastructure Automation
      p The next-generation enterprise is constantly evolving, and expects services that are truly customer-oriented, experience-centric, and delivered in a truly agile manner, tailor-made to ensure the right business outcomes. Traditional business models severely restrict an enterprise’s ability to adapt quickly. In order for organizations to better manage these uncertainties, and deliver sustainable performance to succeed
      p
        a.btn.btn-raised(href='#', role='button') View details »
    .col-md-6
      h2 Continuous Transformation
      p In a world where digital startups regularly challenge the status quo, we can expect even more change to disrupt entire industries. Organizations that resist the realities of digital business will lose market share or be completely left behind. We highlight three strategies executives should consider to execute organizational change, including how to assess the state of their current change readiness
      p
        a.btn.btn-raised(href='#', role='button') View details »